<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="New Rule Set" Description=" " ToolsVersion="16.0">
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE1006" Action="None" />
    <Rule Id="IDE1006WithoutSuggestion" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0001" Action="None" />
    <Rule Id="SA0002" Action="Info" />
    <Rule Id="SA1000" Action="Info" />
    <Rule Id="SA1001" Action="Info" />
    <Rule Id="SA1002" Action="Info" />
    <Rule Id="SA1003" Action="Info" />
    <Rule Id="SA1004" Action="Info" />
    <Rule Id="SA1005" Action="Info" />
    <Rule Id="SA1006" Action="Info" />
    <Rule Id="SA1007" Action="Info" />
    <Rule Id="SA1008" Action="Info" />
    <Rule Id="SA1009" Action="Info" />
    <Rule Id="SA1010" Action="Info" />
    <Rule Id="SA1011" Action="Info" />
    <Rule Id="SA1012" Action="Info" />
    <Rule Id="SA1013" Action="Info" />
    <Rule Id="SA1014" Action="Info" />
    <Rule Id="SA1015" Action="Info" />
    <Rule Id="SA1016" Action="Info" />
    <Rule Id="SA1017" Action="Info" />
    <Rule Id="SA1018" Action="Info" />
    <Rule Id="SA1019" Action="Info" />
    <Rule Id="SA1020" Action="Info" />
    <Rule Id="SA1021" Action="Info" />
    <Rule Id="SA1022" Action="Info" />
    <Rule Id="SA1023" Action="Info" />
    <Rule Id="SA1024" Action="Info" />
    <Rule Id="SA1025" Action="Info" />
    <Rule Id="SA1026" Action="Info" />
    <Rule Id="SA1027" Action="Info" />
    <Rule Id="SA1028" Action="Info" />
    <Rule Id="SA1100" Action="Info" />
    <Rule Id="SA1101" Action="Info" />
    <Rule Id="SA1102" Action="Info" />
    <Rule Id="SA1103" Action="Info" />
    <Rule Id="SA1104" Action="Info" />
    <Rule Id="SA1105" Action="Info" />
    <Rule Id="SA1106" Action="Info" />
    <Rule Id="SA1107" Action="Info" />
    <Rule Id="SA1108" Action="Info" />
    <Rule Id="SA1110" Action="Info" />
    <Rule Id="SA1111" Action="Info" />
    <Rule Id="SA1112" Action="Info" />
    <Rule Id="SA1113" Action="Info" />
    <Rule Id="SA1114" Action="Info" />
    <Rule Id="SA1115" Action="Info" />
    <Rule Id="SA1116" Action="Info" />
    <Rule Id="SA1117" Action="Info" />
    <Rule Id="SA1118" Action="Info" />
    <Rule Id="SA1119" Action="Info" />
    <Rule Id="SA1120" Action="Info" />
    <Rule Id="SA1121" Action="Info" />
    <Rule Id="SA1122" Action="Info" />
    <Rule Id="SA1123" Action="Info" />
    <Rule Id="SA1124" Action="Info" />
    <Rule Id="SA1125" Action="Info" />
    <Rule Id="SA1127" Action="Info" />
    <Rule Id="SA1128" Action="Info" />
    <Rule Id="SA1129" Action="Info" />
    <Rule Id="SA1130" Action="Info" />
    <Rule Id="SA1131" Action="Info" />
    <Rule Id="SA1132" Action="Info" />
    <Rule Id="SA1133" Action="Info" />
    <Rule Id="SA1134" Action="Info" />
    <Rule Id="SA1135" Action="Info" />
    <Rule Id="SA1136" Action="Info" />
    <Rule Id="SA1137" Action="Info" />
    <Rule Id="SA1139" Action="Info" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1201" Action="Info" />
    <Rule Id="SA1202" Action="Info" />
    <Rule Id="SA1203" Action="Info" />
    <Rule Id="SA1204" Action="Info" />
    <Rule Id="SA1205" Action="Info" />
    <Rule Id="SA1206" Action="Info" />
    <Rule Id="SA1207" Action="Info" />
    <Rule Id="SA1208" Action="Info" />
    <Rule Id="SA1209" Action="Info" />
    <Rule Id="SA1210" Action="Info" />
    <Rule Id="SA1211" Action="Info" />
    <Rule Id="SA1212" Action="Info" />
    <Rule Id="SA1213" Action="Info" />
    <Rule Id="SA1214" Action="Info" />
    <Rule Id="SA1216" Action="Info" />
    <Rule Id="SA1217" Action="Info" />
    <Rule Id="SA1300" Action="None" />
    <Rule Id="SA1302" Action="Info" />
    <Rule Id="SA1303" Action="Info" />
    <Rule Id="SA1304" Action="Info" />
    <Rule Id="SA1306" Action="Info" />
    <Rule Id="SA1307" Action="Info" />
    <Rule Id="SA1308" Action="Info" />
    <Rule Id="SA1309" Action="Info" />
    <Rule Id="SA1310" Action="Info" />
    <Rule Id="SA1311" Action="Info" />
    <Rule Id="SA1312" Action="Info" />
    <Rule Id="SA1313" Action="Info" />
    <Rule Id="SA1314" Action="Info" />
    <Rule Id="SA1400" Action="Info" />
    <Rule Id="SA1401" Action="Info" />
    <Rule Id="SA1402" Action="Info" />
    <Rule Id="SA1403" Action="Info" />
    <Rule Id="SA1404" Action="Info" />
    <Rule Id="SA1405" Action="Info" />
    <Rule Id="SA1406" Action="Info" />
    <Rule Id="SA1407" Action="Info" />
    <Rule Id="SA1408" Action="Info" />
    <Rule Id="SA1410" Action="Info" />
    <Rule Id="SA1411" Action="Info" />
    <Rule Id="SA1412" Action="Info" />
    <Rule Id="SA1413" Action="Info" />
    <Rule Id="SA1500" Action="Info" />
    <Rule Id="SA1501" Action="Info" />
    <Rule Id="SA1502" Action="Info" />
    <Rule Id="SA1503" Action="Info" />
    <Rule Id="SA1504" Action="Info" />
    <Rule Id="SA1505" Action="Info" />
    <Rule Id="SA1506" Action="Info" />
    <Rule Id="SA1507" Action="Info" />
    <Rule Id="SA1508" Action="Info" />
    <Rule Id="SA1509" Action="Info" />
    <Rule Id="SA1510" Action="Info" />
    <Rule Id="SA1511" Action="Info" />
    <Rule Id="SA1512" Action="Info" />
    <Rule Id="SA1513" Action="Info" />
    <Rule Id="SA1514" Action="Info" />
    <Rule Id="SA1515" Action="Info" />
    <Rule Id="SA1516" Action="Info" />
    <Rule Id="SA1517" Action="Info" />
    <Rule Id="SA1518" Action="Info" />
    <Rule Id="SA1519" Action="Info" />
    <Rule Id="SA1520" Action="Info" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1601" Action="None" />
    <Rule Id="SA1602" Action="Info" />
    <Rule Id="SA1604" Action="Info" />
    <Rule Id="SA1605" Action="Info" />
    <Rule Id="SA1606" Action="Info" />
    <Rule Id="SA1607" Action="Info" />
    <Rule Id="SA1608" Action="Info" />
    <Rule Id="SA1609" Action="Info" />
    <Rule Id="SA1610" Action="Info" />
    <Rule Id="SA1611" Action="Info" />
    <Rule Id="SA1612" Action="Info" />
    <Rule Id="SA1613" Action="Info" />
    <Rule Id="SA1614" Action="Info" />
    <Rule Id="SA1615" Action="Info" />
    <Rule Id="SA1616" Action="Info" />
    <Rule Id="SA1617" Action="Info" />
    <Rule Id="SA1618" Action="Info" />
    <Rule Id="SA1619" Action="Info" />
    <Rule Id="SA1620" Action="Info" />
    <Rule Id="SA1621" Action="Info" />
    <Rule Id="SA1622" Action="Info" />
    <Rule Id="SA1623" Action="Info" />
    <Rule Id="SA1624" Action="Info" />
    <Rule Id="SA1625" Action="Info" />
    <Rule Id="SA1626" Action="Info" />
    <Rule Id="SA1627" Action="Info" />
    <Rule Id="SA1629" Action="Info" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1634" Action="Info" />
    <Rule Id="SA1635" Action="Info" />
    <Rule Id="SA1636" Action="Info" />
    <Rule Id="SA1637" Action="Info" />
    <Rule Id="SA1638" Action="Info" />
    <Rule Id="SA1639" Action="Info" />
    <Rule Id="SA1640" Action="Info" />
    <Rule Id="SA1641" Action="Info" />
    <Rule Id="SA1642" Action="Info" />
    <Rule Id="SA1643" Action="Info" />
    <Rule Id="SA1648" Action="Info" />
    <Rule Id="SA1649" Action="Info" />
    <Rule Id="SA1651" Action="Info" />
  </Rules>
</RuleSet>